---
---

@import "jekyll-theme-minimal";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Kanit');

body{
  font-family : "Montserrat", sans-serif;
}
a {
  color:#286e75;
  text-decoration:none;
}
h1{
  font-weight : bold;
  font-family : 'Kanit', sans-serif;
}
